<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php">
	<testsuites>
		<testsuite name="bank">
			<directory phpVersion="5.3.0" phpVersionOperator=">=" suffix="Test.php">test</directory>
		</testsuite>
		<testsuite name="one">
			<directory suffix="Test.php">test/One</directory>
		</testsuite>
		<testsuite name="two">
			<directory suffix="Test.php">test/Two</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>src</directory>
		</whitelist>
	</filter>
</phpunit>

